*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f6f9ff;
}
header nav{
    background: #fff;
    padding: 0px 20px;
    height: 70px;
    filter: drop-shadow(0px 0px 20px #0129701a);
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2c384e;
}
nav .logo{
    color: #012970;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
    animation: logoanimate 2s linear .5s infinite alternate;
}
@keyframes logoanimate {
    from{
       padding:0px ;
    }   
    to{
       padding-left: 50px;
    }
   }
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
nav ul li:hover a{
    color:#4154f1;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    gap: 20px;
}
.studentform form label{
    font-size: 18px;
}
.studentform form input{
    padding: 5px 2px ;
    font-size: 16px;
    margin: 0px 10px 0 0 ;
    border-radius: 5px;
}
.studentform form button{
    margin-right:20px;
    background: #0d6efd;
    color:#fff;
    font-size: 18px;
    font-weight: 400;
    padding: 8px 20px;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    transition: color,background .5s linear;
}
.studentform form button:hover{
    background:#41464b;
}
.studentform form button:active{
    background:transparent;
    color:#000;
}

.billinfo table{
    border-collapse: collapse;

}
.billinfo table tr th td{
    padding: 5px;
}