*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    margin: 100px;
}
.bill-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.bill-container{
    width: 50%;
    /* text-align: center; */
}
.company-name p{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}
.details-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}