.student-list-container{
    display: flex;
    justify-content: center;
}
.student-list{
    overflow-x: scroll;
}
.student-list h3{
    margin: 10px 0 20px;
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
}
.student-list table{
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
.student-list table tr{
   margin: 10px;
}
.student-list table tr td,th{
    padding: 5px;
}
.student-list table tr td a{
    text-decoration: none;
}
