.card-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: calc(50% - 20px); /* Two cards per row */
    box-sizing: border-box;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #012970;
}

.card p {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card li {
    font-size: 16px;
    margin-bottom: 8px;
}