
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.studentinfo{
    margin: 20px 0;
}
.studentinfo p{
    margin: 10px 0;
    font-size: 20px;
}
.form-wrapper form{
    display: flex;
    flex-direction: column;
}
.form h3,.studentinfo h3{
    margin: 10px 0;
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
}
.form label{
    font-size: 18px;
    margin: 20px 0 3px;
}
.form input{
    height: 30px;
    border-radius: 5px;
    outline: none;
    padding: 0px 5px;
    font-size: 18px;
    border: 1px solid #000;
    margin: 5px 0;
}


.btn-wrapper{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
.btn-wrapper button,.btn-wrapper button:nth-child(1):hover,#add{
    margin-right:20px;
    background: #0d6efd;
    color:#fff;
    font-size: 20px;
    font-weight: 400;
    padding: 8px 20px;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}
form div{
    text-align: right;
}
#add{
    margin: 2px 0;
    padding:0px 5px;
    border-radius: 5px;
    background:transparent;
    color: #000;

}
.btn-wrapper button:hover,.btn-wrapper button:nth-child(1){
    background:#41464b;
}
.btn-wrapper button:active{
    background:transparent;
    color:#000;
}